.alert-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10000;

}

.alert-container .alert {
    max-width: 100%;
    padding: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 10px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.success {
    background-color: green;
}
.error {
    background-color: red;
}

.alert-container .alert i {
    display: inline-block;
    font-size: 26px;
    margin: 0 5px;
}
.alert-container .alert i.fa-check-circle { color: green; }
.alert-container .alert i.fa-exclamation-circle { color: crimson; }

.alert-container .alert small {
    display: inline-block;
    margin: 0 5px;
    color: white;
    font-weight: normal;
    font-size: 14px;
}

@media screen and (max-width: 411px) {
    .alert-container {
        width: 100%;
        bottom: 10px;
        left: 50%;
        right: 0;
        transform: translateX(-50%);
    }

    .alert {
        width: 90%;
        padding: 10px;
        margin: 1px auto;
    }
}