@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


// @import './layout';
@import './components/alert';
@import './components/header';



// @import './pages/main';
// @import './pages/category';
@import './pages/accounts';
// @import './pages/profile';
// @import './pages/product';
// @import './pages/videohosting';
// @import './pages/settings';
// @import './pages/404';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

body {
    font-family: 'Inter', sans-serif;
}